/*
 * Ingresa el CSS del proyecto en este archivo
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* Establece la fuente de Google aquí */
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
}

img {
  vertical-align: middle;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.link {
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}
.logo {
  float: right;
}
header {
  position: fixed;
  background:white;
  width: 100%;
  top: 0;
}
.menu {
  padding: 14px 70px;
  overflow: auto;
}
#home {
  background-image: url(../assets/images/bg-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 554px;
  text-align: center;
  margin-top: 80px;
  color: white;
}
#home .container {
  color: white;
  padding: 70px;
}
.text-home {
  font-size: 53px;
}
.btn-home {
  background: #2ecc71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
}
#services, #text-services {
  background-color: #f17c72;
  text-align: center;
  color: #fff;
  padding: 70px 7px;
}
.box-services {
  display: inline-block;
  width: 30%;
  margin-top: 63px;
}
.text-services {
  font-size: 35px;
  letter-spacing: 1px;
}
.m-0 {
  font-size: 15px; 
}
footer {
  text-align: center;
  height: 70px;
  background: #373B47;
  color: white;
  padding-top: 7px;
}

/*contenedores y columnas*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
[class*="col-"] {
  min-height: 7px;
  padding: 12px;
  float: left;
}

.col-1 {
  width: 8.333333%;
}
.col-2 {
  width: 16.666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333%;
}
.col-5 {
  width: 41.666667%;
}
.col-6 {
  width: 50%
}
.col-7 {
  width: 58.333333%;
}
.col-8 {
  width: 66.666664%;
}
.col-9 {
  width: 74.999997%;
}
.col-10 {
  width: 83.333333%;
}
.col-11 {
  width: 91.666663%;
}
.col-12 {
  width: 100%;
}
.nombre {
  text-align: center;
}
h1.work {
  text-align: center;
  font-size: 45px;
}
.zoom {
  transition: 0.3s ease;
}

.zoom:hover{
  transform: scale(1.5);
}
#text, #text-services {
  text-align: center;
}
#img {
  align-content: center;
}